<form method="post" action="{{ path('app_demande_delete', {'id': demande.id}) }}" onsubmit="return confirm('etes-vous sur de supprimer cette demande?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demande.id) }}">
    <button class="btn-danger">Supprimer</button>
</form>
