{% extends 'dashboard/index_client.html.twig' %}

{% block title %}New Chequier{% endblock %}

{% block body %}
    <h1>Demander un Chéquier</h1>

    {{ include('chequier/_form.html.twig') }}

    <a href="{{ path('app_chequier_index') }}">Revenir vers la liste</a>
{% endblock %}
